<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Six Buttons</title>
    <style>
        body {
            background-color: lightgreen;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .button-container {
            text-align: center;
            margin-top: 70px;
            display: grid;
            grid-template-columns: repeat(3, 1fr); 
            grid-gap: 20px; 
            margin-left:160px;
        }

        

            .button img {
                max-width: 200%;
                max-height: 150%;
            }

            .button:hover {
                background-color: lightgoldenrodyellow;
                border-color: white;
            }

        .welcome-text {
            text-align: center;
            margin-top: 50px;
            font-size: 24px;
            color: #333;
        }
        .box{
            margin-top:-50px;
        }
    </style>
</head>
<body>
    <div class="welcome-text">
        Welcome Admin
    </div>
    <div class="box">
    <div class="button-container">
        <button style="width:430px" class="button" onclick="window.location='@Url.Action("Index", "User")'">
            <img src="~/img/user.jpg" alt="User"> User
        </button>
        <button style="width:430px" class="button" onclick="window.location='@Url.Action("Index", "Topic")'">
            <img src="~/img/topic.jpg" alt="Topic"> Topic
        </button>
    </div>
    <br />
    <div style="margin-left:20px">
        <button style="margin-left:140px;width:430px"  class="button" onclick="window.location='@Url.Action("Index", "Question")'">
            <img src="~/img/question.jpg" alt="Question"> Question
        </button>
        <button style="margin-left:20px;width:430px" class="button" onclick="window.location='@Url.Action("Index", "Answer")'">
            <img src="~/img/Answer.png" alt="Answer"> Answer
        </button>
    </div>
    </div>
</body>
</html>
