@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Six Buttons</title>
    <style>
        body {
            background-color: lightgreen;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .button-container {
            text-align: center;
            margin-top: 70px;
        }

        .button {
            background-color: deepskyblue;
            border: 2px solid deepskyblue;
            color: white;
            padding: 15px 30px; /* Adjusted button size */
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 18px; /* Adjusted font size */
            margin: 20px;
            cursor: pointer;
            border-radius: 0; /* Square shape */
            transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Smooth transition effect */
        }

            .button:hover {
                background-color: dodgerblue; /* Change background color on hover */
                border-color: dodgerblue; /* Change border color on hover */
            }

        .welcome-text {
            text-align: center;
            margin-top: 50px;
            font-size: 24px;
            color: #333;
        }
    </style>
</head>
<body>
    <div class="welcome-text">
        Welcome Admin
    </div>
    <div class="button-container">
        <button class="button" onclick="window.location='@Url.Action("Index", "User")'">User</button>
        <button class="button" onclick="window.location='@Url.Action("Index", "Topic")'">Topic</button>
    </div>

    <div class="button-container">
        <button class="button" onclick="window.location='@Url.Action("Index", "Question")'">Question</button>
        <button class="button" onclick="window.location='@Url.Action("Index", "Answer")'">Answer</button>

    </div>
</body>
</html>
