@model ZuciQuizLibrary.Models.User

@{
    ViewData["Title"] = "Register";
}
   
<h1 style="text-align:center;">Register</h1>

<h4 style="color:black;text-align:center"> WELCOME NEW USER</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div style="text-align:center;">
    <button> <a asp-action="Login">Login</a></button>
</div>
